* {
   box-sizing: border-box;
}

.container {
   display: flex;
   flex-direction: column;


   &__title {}

   &__content {
      display: flex;
      gap: 20px;
   }
}

.color {
   border: 1px solid black;
   height: 100px;
   flex-basis: calc((100% - 20px)/5);
}

.color-1 {
   background-color: #D0BDAF;
}

.color-2 {
   background-color: #BE917C;
}

.color-3 {
   background-color: #b76d54;


}

.color-4 {
   background-color: #A9AC97;


}

.color-5 {
   background-color: #515242;

}

.color-6 {
   background-color: black;
}