* {
   box-sizing: border-box;
}

.container {
   display: flex;
   flex-direction: column;


   &__title {}

   &__content {
      display: flex;
      gap: 20px;
   }
}

.color {
   border: 1px solid black;
   height: 100px;
   flex-basis: calc((100% - 20px)/5);
}

.color-1-ladies {
   background-color: #D0BDAF;
}

.color-2-ladies {
   background-color: #BE917C;
}

.color-3-ladies {
   background-color: #A9AC97;

}

.color-4-ladies {
   background-color: #515242;

}

.color-5-ladies {
   /*    background-color: #A0745B; */
   background-color: #B8735B;

}

.color-1-gentlemen {
   background-color: #D0BDAF;
}

.color-2-gentlemen {
   background-color: #BE917C;
}

.color-3-gentlemen {
   background-color: #515242;
}

.color-4-gentlemen {
   background-color: black;
}
